<% include header %>

<script type="text/javascript" src="/js/jquery.iphone-switch.js"></script>
<script type="text/javascript">
$(function () {

$('#button1').iphoneSwitch("on", 
     function() {
       $('#ajax').html("ON");
      },
      function() {
       $('#ajax').html("OFF");
      },
      {});

});

</script>

<div class="left" id="button1"></div>
<div id="ajax"></div>
<div class="clear"></div>

<% include footer %>


