<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>test chart</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.iphone-switch.js"></script>
<script type="text/javascript">
$(function () {

$('#button1').iphoneSwitch("on", 
     function() {
       $('#ajax').html("ON");
      },
      function() {
       $('#ajax').html("OFF");
      },
      {});

});

</script>

</head>
 
<body>

<div class="left" id="button1"></div>
<div id="ajax"></div>
<div class="clear"></div>

</body>
</html>


