<% include header %>

<script type="text/javascript">
var chart;

$(function () {


$.getJSON('/json/chart/currentDay?sensors=s2,s1,s3&labels=T Alto,T Medio,T Basso', function(json) {

chart = new Highcharts.Chart({
        chart: {
            renderTo: 'ccontainer',
            zoomType: 'x'
        },
	title: {
	    text: "<%= title %>"	
	},
        tooltip: {
	    crosshairs: true,
	    valueDecimals: 1,
            valueSuffix: ' °C'
	},
        yAxis: {
            type: 'double',
	    title: {
	    	text: "Temperature"
	    }
        },
        xAxis: {
            type: 'datetime',
            labels: {
                formatter: function () {
                    return Highcharts.dateFormat('%d %b %H:%M', this.value);
                },
                dateTimeLabelFormats: {
                    minute: '%H:%M',
                    hour: '%H:%M',
                    day: '%e. %b',
                    week: '%e. %b',
                    month: '%b \'%y',
                    year: '%Y'
                }
            }
        },
        series: json
    });


}).error(function() {console.log('error');});

});

</script>


 <section id="dashboard">
                  <header>
                    <h1><%= title %></h1>
				  </header>			
					<div class="row-fluid">

					<div id="ccontainer" style="height: 300px"></div>
					<div id="drag"></div>
					<div id="drop"></div>

					</div>
						 
                </section>
				

<% include footer %>

