<% include header %>

            <section id="credits">
                  <header>
                    <h1>Credits</h1>
					</header>			

			<div class="row-fluid">

				<div class="span4">
				  <img class="pull-left" src="/img/nodejs.png"/>
				  <div class="well well-small"><h3 class="clearfix">node.js</h3> Event-driven I/O server-side JavaScript environment. </div>
				</div>

				<div class="span4">
				  <img class="pull-left" src="/img/mongodb.png"/>
				  <div class="well well-small"><h3 class="clearfix">MongoDB</h3> Open source NoSQL database. </div>
				</div>

				<div class="span4">
				  <img class="pull-left" src="/img/github.png"/>
				  <div class="well well-small"><h3 class="clearfix">GitHub</h3> Online project hosting using Git.</div>
				</div>
			
			</div>

			<div class="row-fluid">

				<div class="span4">
				  <img class="pull-left" src="/img/nodejitsu.png"/>
				  <div class="well well-small"><h3 class="clearfix">Nodejitsu</h3> Node.js PaaS hosting platform.</div>
				</div>

				<div class="span4">
				  <img class="pull-left" src="/img/mongohq.png"/>
				  <div class="well well-small"><h3 class="clearfix">MongoHQ</h3> Hosted MongoDB databases.</div>
				</div>

				<div class="span4">
				  <img class="pull-left" src="/img/highcharts.png"/>
				  <div class="well well-small"><h3 class="clearfix">Highcharts</h3> Interactive JavaScript charts.</div>
				</div>
			
			</div>
			
			<div class="row-fluid">

				<div class="span4">
				  <img class="pull-left" src="/img/jquery.png"/>
				  <div class="well well-small"><h3 class="clearfix">jQuery</h3> What would i do without jQuery..</div>
				</div>
			
				<div class="span4">
				  <img class="pull-left" src="/img/bootstrap.png"/>
				  <div class="well well-small"><h3 class="clearfix">Bootstrap</h3>  Mobile first front-end framework.</div>
				</div>

				<div class="span4">
				  <img class="pull-left" src="/img/inspiritas.png"/>
				  <div class="well well-small"><h3 class="clearfix">Inspiritas</h3> Bootstrap admin-theme by Jonatan Littke.</div>
				</div>

			</div>
			
            </section>

<% include footer %>
