<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<% if(locals.hcharts) { %>
	<script src="/js/highcharts.js"></script>
	<script src="/js/highcharts-draggable.js"></script>
	<% } %>
  </head>
  <body>