<% include header %>

                <section id="dashboard">
                  <header>
                    <div class="pull-right">
                        <a class="btn btn-small">Edit</a>
                        <a class="btn btn-small">Shoot me</a>
                    </div>
                    <h1>Dashboard</h1>
					</header>			
					<div class="row-fluid">
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
					</div>
						 
                </section>
				
				
<% include footer %>
