<% include header %>

                <section id="stats">
                  <header>
                    <div class="pull-right">
                        <a class="btn btn-small">Edit</a>
                        <a class="btn btn-small">Shoot me</a>
                    </div>
                    <h1>Dashboard</h1>
                  </header>				 
                </section>
				
				
<% include footer %>
