				<div class="span3">
					<aside>
						<nav>
							<ul class="nav">
							
							<%
							if(menus){
								for(var i=0; i<menus.length; i++) {
								   var mItem = menus[i];
								%>
								  <li <% if(menu==mItem['name']){ %>class="selected"<% } %>>
									<a href="<%= mItem['href'] %>"><i class="<%= mItem['css'] %><% if(menu!=mItem['name']){ %> icon-white<% } %>"></i> <%= mItem['label'] %></a>
								  </li>
								<% }
							}
							%>

							</ul>
						</nav>
					</aside>
				</div>