				<div class="span3">
					<aside>
						<nav>
							<ul class="nav">
							  <li class="selected">
								<a href="/"><i class="icon-play"></i> Dashboard</a>
							  </li>
							  <li>
								<a href="/charts"><i class="icon-th-list icon-white"></i> Hourly chart (24h)</a>
							  </li>
							  <li>
								<a href="/chartsRaw"><i class="icon-user icon-white"></i> By minute chart (3h)</a>
							  </li>
							  <li>
								<a href="/actuators"><i class="icon-retweet icon-white"></i> Actuators</a>
							  </li>
							  <li>
								<a href="/typography"><i class="icon-font icon-white"></i> Typography</a>
							  </li>
							</ul>
						</nav>
					</aside>
				</div>